.rover{
    background-image: url("../assets/roverIcon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100px;
    width:100px;
    z-index: 200;
    position: absolute;
}

.crashed, .martianAttack {
    background-color: rgba(255, 35, 30, 0.5);
    position:absolute;
    z-index: 400;
}
h3{
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.refreshGame{
    z-index: 300;
    position: absolute;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
    width:200%;
    font-weight: bold;
}