.rover{
    background-image: url("../assets/roverIcon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100px;
    width:100px;
    z-index: 200;
    position: absolute;
}

.crashed {
    background-color: rgba(255, 35, 30, 0.5);
    position:absolute;
}